/* Base styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Container setup */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Header styling */
.header {
    padding: 10px;
    background: #f1f1f1; /* Adjust the color to match your design */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-content {
    width: 100%;
    padding: 10px;
    background: #f1f1f1; /* Adjust the color to match your design */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
}

.search-container {
    display: flex;
    border: 1px solid #ccc; /* Style the border as per your design */
    border-radius: 5px; /* Optional: if you want rounded corners */
}

.search-container input[type="search"] {
    border: none;
    padding: 8px;
    margin: 0;
    height: 30px; /* Adjust as needed */
    border-radius: 5px 0 0 5px; /* Optional: if you have rounded corners */
}

.search-container button {
    background: #ffffff; /* Adjust the color to match your design */
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0 5px 5px 0; /* Optional: if you have rounded corners */
}

.menu-icon {
    font-size: 24px; /* Adjust the size as needed */
    cursor: pointer;
    align-self: end;
}

/* Footer styling */
.footer {
    padding: 20px;
    background: #1a1a1a; /* Your preferred footer background color */
    color: #fff; /* Text color */
}

.footer-content {
    display: flex;
    justify-content: space-between; /* Push the logo and nav to opposite ends */
    align-items: center; /* Vertically center items */
    margin: 0 8%; /* This will center your footer content if the view is wider than max-width */
}


.footer-nav {
    /* If you want to ensure that the nav doesn't wrap, add nowrap */
    /*white-space: nowrap;*/
}


.footer-nav ol {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Space out the list items */
    margin: 0; /* Reset default margin */
}


/* When the menu is toggled, animate the burger icon */
.change .bar1 {
    transform: rotate(-45deg) translate(-7px, 6px);
}
.change .bar2 {opacity: 0;}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}


.crumb {
    padding: 5px 10px;
    background: transparent; /* Your preferred crumb background color */
    /* More styles as needed */
}
/* Main content styling */
.main {
    flex-grow: 1;
    background-image: url('img/mainBackground.png'); /* Replace with your main content color */
    /* Add additional main content styles here */
    padding: 50px 15%;
    box-sizing: border-box;
}

/* Main title and subtitle */
.MainText {
    color: #ffffff; /* Replace with your preferred text color */
    margin-bottom: 40px;
}

.MainText h1 {
    font-size: 2.5em;
    color: #ffffff; /* Replace with the color you want for your main titles */
    margin: 0 0 10px;
}

.MainText p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0;
}

/* Card styles */
.Cards {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap onto the next line */
    justify-content: space-between;

}

.card {
    flex: 1;
    margin: 10px 10px;
    background: #ffffff; /* Replace with your card background color */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Simple box shadow for a subtle depth effect */
    border-radius: 4px; /* Optional: if you want rounded corners */
    box-sizing: border-box; /* ensure padding is included in width */
    width: calc(33.333% - 20px); /* Subtract the margin from the width (if 3 cards per row) */
}

.card h2 {
    color: #000000; /* Replace with the color you want for card titles */
    margin: 0 0 10px;
}

.card p {
    margin: 0 0 20px;
}

.card button.more {
    position: static;
    background: #e3244e; /* Replace with your button background color */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 2px; /* Optional: if you want rounded button corners */
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding-right: 8%;
}
.line {
    fill: none;
    stroke: black;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
.bottomLink {
    color: white;
    text-align: center;
}

/* Media query for a max-width of 768px */
@media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* Adjust width for 2 cards per row or full width depending on design */
    }
    .search-container input[type="search"] {
        width: 100%;
    }
    .footer-menu-button {
        display: flex; /* Show the burger menu button */
    }

    .footer-nav ol {
        display: none; /* Hide the list initially */
    }

    .footer-nav.open {
        display: block;
    }
}

/* Media query for a max-width of 480px */
@media (max-width: 480px) {
    .Cards {
        flex-direction: column; /* Stack cards in a column */
    }

    .card {
        width: auto; /* Cards take full width of the container */
        margin: 10px 0; /* Adjust margin for vertical stacking */
    }
}