.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0 4%;
    grid-auto-flow: row;
    text-align: center;
    height: 1080px;
}

.footer {
    grid-area: 6 / 1 / 6 / 5;
    background-color: #c4d7ef;
    border: #030303;
    border-style: solid;
    border-radius: 7px;

}

.header {
    grid-area: 1 / 1 / 2 / 5;
    background-color: #c4d7ef;
    border: #030303;
    border-style: solid;
    border-radius: 7px;
    margin: 0;
}

.two {
    grid-area: 2 / 1 / 6 / 2;
    border: 3px solid black;
    background-color: #eeaf7b;
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
}

.three {
    grid-area: 2 / 2 / 6 / 3;
    border: 3px solid black;
    background-color: #6df357;
    border-radius: 7px;
    margin: 10px;
}

.four {
    grid-area: 2 / 3 / 3 / 5;
    border: 3px solid black;
    background-color: #eeaf7b;
    border-radius: 7px;
    margin: 10px;
}

.five {
    grid-area: 3 / 3 / 6 / 4;
    border: 3px solid black;
    background-color: #3aa1a1;
    border-radius: 7px;
    margin: 10px;
}

.six {
    grid-area: 3 / 4 / 6 / 5;
    border: 3px solid black;
    background-color: #6df357;
    border-radius: 7px;
    margin: 10px;
}

.x {
    align-self: center;
    margin-left: 40px;
    grid-area: 1 / 1 / 2 / 2;
    border: #030303;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 7px;

}

.y {
    align-self: center;
    margin-right: 40px;
    grid-area: 6 / 4 / 6 / 5;
    border: #030303;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 7px;
}
