.container {
    display: flex;
    flex-direction: column;
    height: 1080px;
}

.row {
    display: flex;
    flex-direction: row;
}

h2, h3 {
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
}

.flex-item-full {
    flex: 1;
}

.flex-item-half {
    flex: 0.5;
}

.flex-item-quarter {
    flex: 0.25;
    text-align: center; /* Align text to the left */
    padding: 20px;

}
/* New classes to style the header and footer content */
.header-content, .footer-content {
    flex: 0.75; /* Take up remaining space */
    padding: 20px;
    text-align: center; /* Keep text centered here */
    align-self: center;
}

.footer {
    background-color: #c4d7ef;
    border: #030303;
    border-style: solid;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.header {
    background-color: #c4d7ef;
    border: #030303;
    border-style: solid;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.two {
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #eeaf7b;
    border-radius: 7px;
    padding: 20px;
    margin-right: 8%;

}

.three {
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #6df357;
    border-radius: 7px;
    padding: 20px;
    margin-right: 8%;
}

.four {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    background-color: #eeaf7b;
    border-radius: 7px;
    padding: 20px;
    height: min-content;
}

.five {
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #3aa1a1;
    border-radius: 7px;
    padding: 20px;
    margin-right: 16%;
}

.six {
    border-left: 3px solid black;
    border-right: 3px solid black;
    background-color: #6df357;
    border-radius: 7px;
    padding: 20px;
}

.x {
    align-self: center;
    border: #030303;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 7px;
    }

.y {
    align-self: center;
    border: #030303;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 7px;
}


