/* Reset some default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header, .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4d7ef;
    border: 3px solid #030303;
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
}

.two, .three, .four, .five, .six {
    border: 3px solid black;
    border-radius: 7px;
    padding: 20px;
    margin: 10px;
}

.two, .four, .x, .y {
    background-color: #eeaf7b;
}

.three, .six {
    background-color: #6df357;
}

.five {
    background-color: #3aa1a1;
}

/* Header and Footer child elements */
.x, .y {
    flex-basis: 25%;
    background-color: #ffffff;
    border-radius: 7px;
    border: 3px solid black;
    padding: 10px;
}

.header-content, .footer-content {
    flex-grow: 1;
    text-align: center;
}

/* Main content elements */
.two, .three {
    flex-basis: 25%; /* Subtract margin */
}

.menu {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

.four {
    flex-grow: 1;
}

.content {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.five, .six {
    flex-basis: calc(50% - 40px); /* Subtract margin */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header, .footer, .main-content {
        flex-direction: column;
    }

    .x, .y, .two, .three {
        flex-basis: 100%;
    }

    .menu, .content {
        flex-direction: column;
    }

    .five, .six {
        flex-basis: 100%;
    }
}
